# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!BUILD_GUIDE.md
!BUILD_FIXES.md
!BUILD_LOGS_ANALYSIS.md
!MIGRATION_SUMMARY.txt
!QUICK_START.md
!SETUP_AUTOMATED_BUILDS.md
!CHECKLIST.md
!FINAL_BUILD_SUMMARY.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
